 <div class="container-fluid mt-5 about-style" id="aboutid">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                    <h1 class="text-center main-heading">About CutRateTraveller</h1>
                    <p class="text-center sub-heading">Travel and Explore with Our Community</p>
                    <div class="row">
                        <div
                            class="col-md-6 col-12 hero-text">
                            <figure>
                                <img src="images/community.jpg" alt
                                    style="width: 90%; height: auto;">
                            </figure>
                        </div>

                        {{!-- right side --}}
                        <div
                            class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
                            <h1>CutRateTraveller</h1>
                            <h1>Explore World in Minimilistic Way....</h1>
                            <p>Travel and Explore with Our Community in a very Budget Friendly way...</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>