 <div class="container-fluid mt-5 about-style" id="blogid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Top Place to Explore in Gujarat</h1>
            <p class="text-center sub-heading">Let's deep dive into the Gujarat's culture,history and business mindest..</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                                <div class="icon">
                                    <img src="images/adventurer.png" alt="">
                                </div>
                                <h2>Gujarat</h2>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque, quae.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                                <div class="icon">
                                    <img src="images/maharastra.png" alt="">
                                </div>
                                <h2>Gujarat</h2>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque, quae.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                                <div class="icon">
                                    <img src="images/goa.png" alt="">
                                </div>
                                <h2>Maharastra</h2>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque, quae.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                                <div class="icon">
                                    <img src="images/scuba-diver.png" alt="">
                                </div>
                                <h2>Goa</h2>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque, quae.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                                <div class="icon">
                                    <img src="images/skydiving.png" alt="">
                                </div>
                                <h2>Laddakh</h2>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque, quae.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                                <div class="icon">
                                    <img src="images/goa.png" alt="">
                                </div>
                                <h2>Hyderabad</h2>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque, quae.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
